/* style_default
	This is the default styles stylesheet.

	This stylesheet should only affect visual appearances of elements such as colour, borders, shadows etc.
	It is also used to style basic elements. 
	Positioning of elements using, width, height, float, display, margin, padding and other similar tags should not be used here.
	Positioning styles are to be done in the layout_default stylesheet. 

	All other "style" stylesheets should contain the same root variables, but with their own colours/styles.
*/
:root {
	/* Main Page Colours */
	--bg-colour: #fff;
	--bg-accent: #fff2d6;
	--bg-dark: #dddddd;
	--element-bg-colour: #0a2c12;
	--text-dark: #000;
	--text-light: #fff;
	--modal-bg-colour: #55555549;
	/* Main Palette */
	--primary-colour: #85A48C;
	--color-1:#D0DAD3;
	--color-2:#FFFFFF;
	--color-3:#D6D8AE;
	--color-4:#9B9E60;
	--color-5:#5D6015;

	/* Font Styles */
	--font-fam: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-size: 14px;
	--hyperlink: #080;

	/* Message/Alert Styles */
	--alert-text-default: #061;
	--alert-text-warning: #e09200;
	--alert-text-important: #f00;
	--alert-bg-default: #cef8ba;
	--alert-bg-warning: #fff4c4;
	--alert-bg-important: #ffc4c4;

	/* Generic Element Effects */
	--box-shadow-nav: 0px 2px 16px 2px #000000a1;
	--box-shadow-menu: drop-shadow(4px 2px 2px #000000);
	--box-shadow-modal: 0px 8px 8px 0px #00000050;

	/* Generic Element Styles */
	--border-thin: thin solid #222;
	--border-standard: 2px solid #222;
	--border-thick: thick solid #222;
	--border-radius-small: 4px;
	--border-radius-med: 7px;
	--border-radius-large: 10px;
	--border-radius-xlarge: 15px;

	/* Input Elements */
	--btn-confirm: #0fb800;
	--btn-confirm-hover: #0c9200;
	--btn-cancel: #f13;
	--btn-cancel-hover: #db0727;
	--btn-disabled: #dbacac;
	--input-bg: #dfdfdf;
	--input-bg-edited: #ffffe0;
	--input-active: #f3c794;
	--input-active-bg: #ffedd9;
	--input-invalid: #ffd2d2;
	--input-disabled-bg: #ccc;
	--input-disabled-text: #5c5c5c;

	/* Table Styles */
	--tbl-header: #77b871;
	--tbl-row-even: #f5f5f5;
	--tbl-row-odd: #e7e7e7;
	--tbl-row-border: solid thin #e7e7e7;
}

.logo {
	background-image: url("../../img/logo.png");
	background-repeat: no-repeat;
}

/* Input Elements */
input {
	height: 20px;
}

select {
	height: 25px;
}

button {
	border: var(--border-standard);
	border-radius: var(--border-radius-small);
}

button[type=submit] {
	background-color: var(--btn-confirm);
	color: #fff;
}

button[type=submit]:hover {
	color: #fff;
	cursor: pointer;
}

button[type=reset] {
	background-color: var(--btn-cancel);
	color: #fff;
}

.nav-dropdown-list a {
	text-decoration: none;
}

/* Main Menu Box styles */

.container-menu-box {
	transition: ease-in 0.05s;
}

.container-menu-box a {
	text-decoration: none;
	transition: ease-in-out 0.15s;
}

.container-menu-box a:hover {
	cursor: pointer;
}

/* Table Styles */
.table-head-sort a {
	text-decoration: unset;
	text-decoration: underline;
}

.table-pagination a {
	text-decoration: none;
	color: var(--hyperlink);
}

/* Modal Styles */

.modal-window {
	border-radius: var(--border-radius-large);
}

.modal-close {
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: larger;
}
